
$width-icon_extra_small: 8px !default; // 图标尺寸 - 超小
$width-icon_small: 12px !default; // 图标尺寸 - 小
$width-icon_medium: 16px !default; // 图标尺寸 - 中
$width-icon_large: 20px !default; // 图标尺寸 - 大
$width-icon_extra_large: 24px !default; // 图标尺寸 - 超大
$motion-icon_spin-animationDuration: 0.6s !default;
